<section id="features-view">

	<!--Slide Funcionalidade-->
	<article class="hidden-lg-down od-MenuSpace">
		<div class="u-bgMediumGray" [ngClass]="{'od-MenuSecondary--freeze': freeze}">
			<div class="container od-MenuSecondary">
				<nav class="row nav">
					<a class="col text-center nav-link" (click)="goTo('multicanal')" [class.active]="anchor == 'multicanal'">
						<i class="icon-chat-o"></i>
						<span>Multicanal</span>
					</a>
					<a class="col text-center nav-link" (click)="goTo('chamado')" [class.active]="anchor == 'chamado'">
						<i class="icon-ticket-o"></i>
						<span>Chamado</span>
					</a>
					<a class="col text-center nav-link" (click)="goTo('personalizacao')" [class.active]="anchor == 'personalizacao'">
						<i class="icon-cog-o"></i>
						<span>Personalização</span>
					</a>
					<a class="col text-center nav-link" (click)="goTo('automacoes')" [class.active]="anchor == 'automacoes'">
						<i class="icon-workflow-o"></i>
						<span>Automações</span>
					</a>
					<a class="col text-center nav-link" (click)="goTo('clientes-e-agentes')" [class.active]="anchor == 'clientes-e-agentes'">
						<i class="icon-woman-o"></i>
						<span>Clientes e agentes</span>
					</a>
					<a class="col text-center nav-link" (click)="goTo('gestao')" [class.active]="anchor == 'gestao'">
						<i class="icon-donut-chart-o"></i>
						<span>Gestão</span>
					</a>
					<a class="col text-center nav-link" (click)="goTo('apps-e-apis')" [class.active]="anchor == 'apps-e-apis'">
						<i class="icon-development-o"></i>
						<span>APPs e APIs</span>
					</a>
				</nav>
			</div>
		</div>
	</article>

	<!--MultiChannel-->
	<a id="multicanal" class="u-anchor"></a>


	<article class="od-Wrapper u-bgLightGray">
		<div class="container">
			<div class="row">

				<div class="col-xl-6 make-life-easear-text-align">
					<h3 class="u-font-w700">Descomplique o seu atendimento, <br><span class="u-fontThin"> torne a vida do seu cliente mais fácil. </span></h3>
				</div>
				<div class="col col-lg-5 col-md-8">

					<p class="mt-1 mb-0"> Avalie sem compromisso. Não pedimos cartão de crédito</p>
				</div>
			</div>
		</div>
	</article>

	<!-- customize octadesk -->
	<a id="chamado" class="u-anchor"></a>


	<!-- timeline -->

	<!-- customize octadesk -->
	<a id="personalizacao" class="u-anchor"></a>
	<article class="od-Wrapper od-Wrapper--cb od-BgCustomizeOctadesk">
		<div class="container od-CustomizeOctadesk">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">
						O Octadesk com a cara da sua empresa
					</h2>
					<p>Personalize nossa plataforma de atendimento ao cliente e Help Desk de acordo com seu negócio</p>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col-md-12 col-lg mt-2">
					<dl class="od-DescriptionList od-DescriptionList--icon">
						<dt class="od-DescriptionList-title">
							<i class="icon-check-circle text-warning"></i> Categorias de assuntos
						</dt>
						<dd class="od-DescriptionList-detail">Categorize as solicitações dos clientes para uma melhor organização, priorização e obtenha métricas precisas sobre
							sua operação.</dd>
						<dt class="od-DescriptionList-title">
							<i class="icon-check-circle text-warning"></i> Campos personalizados
						</dt>
						<dd class="od-DescriptionList-detail">Inclua novos campos para facilitar e controlar o atendimento ao cliente de maneira mais clara e personalizada obtendo
							métricas com a cara do seu negócio.</dd>
						<dt class="od-DescriptionList-title">
							<i class="icon-check-circle text-warning"></i> Formulários personalizados
						</dt>
						<dd class="od-DescriptionList-detail">Crie formulários customizados para atender com mais agilidade cada situação.</dd>
						<dt class="od-DescriptionList-title">
							<i class="icon-check-circle text-warning"></i> Produtos e serviços
						</dt>
						<dd class="od-DescriptionList-detail">Relacione seus produtos e serviços em chamados, tenha métricas mais eficientes e gere insights para melhorias.</dd>
					</dl>
				</div>
				<div class="col-md-12 col-lg text-center mt-2">
					<img class="od-CustomizeOctadesk-image" src="/assets/images/features/octadesk-personalizacao.png" alt="Computador na tela de produtos e serviços do octadesk"
					title="Computador na tela de produtos e serviços do octadesk">
				</div>
			</div>
		</div>
	</article>

	<!-- plans from -->
	<article class="od-Wrapper u-bgOrangeX">

	</article>

	<!-- Gain service scale -->
	<a id="automacoes" class="u-anchor"></a>

	<!-- manage relationship -->
	<a id="clientes-e-agentes" class="u-anchor"></a>


	<!-- understand your service -->
	<a id="gestao" class="u-anchor"></a>

	<div class="container">
		<hr>
	</div>


	<!-- apps-e-apis -->
	<a id="apps-e-apis" class="u-anchor"></a>

</section>
