<section id="materials-view">

	<article class="od-Wrapper u-bgE7Gray">
		<div class="container  od-Materials">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">O melhor conteúdo sobre atendimento no Octadesk</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="h4 mt-1">
						<span class="pr-1 u-fontThin"> Filtrar por: </span>
						<div class="dropdown d-inline-block">
							<span class="text-warning u-fontThin" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span id="filter_text"> Todos </span> <i class="icon-angle-right u-transform d-inline-block"></i>
							</span>

							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item " (click)="filtra_todos()">Todos</a>
								<a class="dropdown-item " (click)="filtra_apresentacao()">Apresentações</a>
								<a class="dropdown-item " (click)="filtra_ebook()">Ebooks</a>
								<a class="dropdown-item " (click)="filtra_planilha()">Planilhas</a>
								<a class="dropdown-item " (click)="filtra_webinar()">Webinars</a>
							</div>
						</div>

					</div>

				</div>
			</div>


			<div class="row flex-items-bottom">

				<div [hidden]="filtroEbook" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>


				<div [hidden]="filtroEbook" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>

				<div [hidden]="filtroEbook" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>

				<div [hidden]="filtroEbook" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>

				<div [hidden]="filtroPlanilha" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>

				<div [hidden]="filtroWebinar" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>


				<div [hidden]="filtroApresentacao" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>

				<div  [hidden]="filtroApresentacao" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>

				<div  [hidden]="filtroApresentacao" class="col-lg-4 mt-2">
					<div class="card card-md-height">
						<div class="card-block text-center">

						</div>
					</div>
				</div>

			</div>
		</div>

	</article>

</section>
<div class="pre-load-modal-img">
		<img alt="7 dicas poderosas para fidelizar seus clientes" src="/assets/images/modais/e-book-para-helpdesk-como-fidelizar-clientes.png" title="7 dicas poderosas para fidelizar seus clientes">
		<img alt="Reduza custos com 13 atitudes" src="/assets/images/modais/e-book-para-helpdesk-reduzir-custos.png" title="Reduza custos com 13 atitudes">
		<img alt="Melhorar a qualidade de atendimento" src="/assets/images/modais/e-book-para-helpdesk-qualidade-atendimento.png" title="Melhorar a qualidade de atendimento">
		<img alt="Pessoas, o pilar mais importante de um bom atendimento" src="/assets/images/modais/e-book-para-helpdesk-pessoas.png" title="Pessoas, o pilar mais importante de um bom atendimento">
		<img alt="planilha de atendimento ao cliente helpdesk" src="/assets/images/modais/planilha-para-helpdesk-octadesk.png" title="planilha de atendimento ao cliente para helpdesk">
		<img alt="webinar helpdesk octadesk" src="/assets/images/modais/webinar-para-helpdesk-octadesk.png" title="webinar do helpdesk octadesk">
		<img alt="apresentação do helpdesk octadesk" src="/assets/images/modais/apresentacao-para-helpdesk-octadesk.png" title="apresentacao do helpdesk octadesk">
		<img alt="Kitfix: assistência técnica e field service" src="/assets/images/modais/materiais_lamina_kitfix.png" title="Pessoas, o pilar mais importante de um bom atendimento">
		<img alt="Nfbox: amplie sua capacidade de atendimento" src="/assets/images/modais/materiais_lamina_nfbox.png" title="Nfbox: amplie sua capacidade de atendimento">
</div>
