<section id="home-view">
	<!-- header -->
	<div class="od-BgHeaderGray">
		<header class="od-Wrapper od-Header od-HeaderHeight">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-lg-8 col-xl-6">
						<h2 class="font-style-header">
							O Octadesk é um sistema de suporte e<br> relacionamento que sua empresa precisa<br> para
							<span class="u-font-W700" id="typed"></span>
						</h2>
						<div class="mt-10 header-content-display-md-down">
							<div class="od-Header-Form-Email-Trial-Container float-left">


								<p class="mt-1 mb-0"> Avalie sem compromisso. Não pedimos cartão de crédito</p>
							</div>
							<div class="od-video">
								<a>
										<img src="/assets/images/thumb_video.png" alt="youtube play" title="youtube play">

								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-4 text-right od-notebook-header hidden-md-down">
						<img src="/assets/images/octadesk-notebook.png" alt="NoteBook aberto na página de dashboard do octadesk" title="NoteBook aberto na página de dashboard do octadesk">
					</div>
				</div>

			</div>
		</header>
	</div>

	<!--midia mentions -->
	<article class="od-Wrapper">

	</article>


	<!-- what is octadesk -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-WhatIsOctades">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">O que é o Octadesk?</h2>
					<p>Somos uma plataforma de atendimento e Help Desk que ajuda empresas a cuidar do relacionamento com <br class="hidden-md-down">seus
						clientes de forma organizada e flexível, com foco na qualidade e agilidade do atendimento.</p>
				</div>
			</div>

		</div>
	</article>

	<!-- why octadesk -->
	<article class="od-Wrapper od-Wrapper--cb u-bgGrayGeometric u-o-hidden">

	</article>

	<!--- distinct -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-Distinct">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Diferenciais do Octadesk</h2>
					<p>Onde podemos fazer a diferença em sua operação de atendimento ao cliente e Help Desk.</p>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col-lg-3 text-lg-center">
					<div class="rounded-circle od-Distinct-thumb mt-1">
						<i class="icon-setting-o"></i>
					</div>
					<dl class="od-DescriptionList od-Distinct-description mt-1">
						<dt class="od-DescriptionList-title">Configuração do ambiente</dt>
						<dd class="od-DescriptionList-detail">Receba consultoria dos nossos especialistas na configuração do ambiente e no suporte a ferramenta.</dd>
					</dl>
				</div>
				<div class="col-lg-3 text-lg-center">
					<div class="rounded-circle od-Distinct-thumb mt-1">
						<i class="icon-gift-o"></i>
					</div>
					<dl class="od-DescriptionList od-Distinct-description mt-1">
						<dt class="od-DescriptionList-title">Produtos e Serviços</dt>
						<dd class="od-DescriptionList-detail">Relacione produtos ou serviços a cada chamado, proporcionando um atendimento ao cliente mais rápido e preciso.</dd>
					</dl>
				</div>
				<div class="col-lg-3 text-lg-center">
					<div class="rounded-circle od-Distinct-thumb mt-1">
						<i class="icon-workflow-o"></i>
					</div>
					<dl class="od-DescriptionList od-Distinct-description mt-1">
						<dt class="od-DescriptionList-title">Workflow</dt>
						<dd class="od-DescriptionList-detail">Crie regras para automatizar fluxos de atendimento e Help Desk e ao mesmo tempo otimize seus processos de trabalho.</dd>
					</dl>
				</div>
				<div class="col-lg-3 text-lg-center">
					<div class="rounded-circle od-Distinct-thumb mt-1">
						<i class="icon-form-o"></i>
					</div>
					<dl class="od-DescriptionList od-Distinct-description mt-1">
						<dt class="od-DescriptionList-title">Smartforms</dt>
						<dd class="od-DescriptionList-detail">Torne sua operação mais inteligente e personalizada com nossos formulários dinâmicos e campos customizáveis.</dd>
					</dl>
				</div>
			</div>
		</div>
	</article>


	<div class="container">
		<hr>
	</div>

	<!-- customers -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container">
		<div class="row">
			<div class="col text-center">
				<h2 class="h1 u-fontThin">Clientes que confiam no Octadesk</h2>
				<p>A flexibilidade do nosso sistema de atendimento ao cliente e Help Desk permite atender empresas de diferentes portes e segmentos de mercado.</p>
			</div>
		</div>
		</div>
	</article>


	<!-- statement -->
	<article class="od-Wrapper u-bgWhite">

	</article>

	<div class="container">
		<hr class="mt-0">
	</div>

	<article class="od-Wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-9 mx-auto">
					<div class="card">
						<div class="card-block od-materials-highlight">
							<a class="cursor-pointer txt-no-decoration" [routerLink]="['/materiais-para-helpdesk']">
								<p class="text-purple text-left"><strong>Materiais educativos</strong></p>
							</a>
							<a class="cursor-pointer" [routerLink]="['/materiais-para-helpdesk']">
								<img src="/assets/images/ebooks/ebook-pessoas.png" alt="Ebook Pessoas">
							</a>
							<a class="cursor-pointer txt-deco-underline-txt-default" [routerLink]="['/materiais-para-helpdesk']">
								<p class="text-center">
									Melhore sua gestão com nossos<br> conteúdos sobre atendimento
								</p>
							</a>
							<button class="btn btn-outline-info mx-auto d-block cursor-pointer" [routerLink]="['/materiais-para-helpdesk']" type="button">Veja Materiais <i class="icon-next"></i></button>

						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 mx-auto">


				</div>
			</div>
		</div>
	</article>


</section>
