<section id="pricing-view">

	<!-- header -->
	<header class="od-Wrapper od-Wrapper--cb u-bgLightGray">
		<div class="container od-ChoosePlan">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Escolha o plano perfeito para sua empresa</h2>
				</div>
			</div>
			<div class="mt-4">

			</div>
		</div>
	</header>
	<article class="od-Wrapper u-bgLightGray">
		<div class="container od-TablePricing">

			<div class="row">

				<div class="col-md-12 col-lg-7 col-xl-7" >
					<a [routerLink]="['/chat-para-site']" class="cursor-pointer pricing-anchors">
						<div class="od-TablePricing-left od-TablePricing-left--gray">
							<span class="PanelCard-left">
								<span class="PanelCard-leftBevel"></span> Novidade
							</span>

							<h1>
							<span class="u-fontThin">Octa</span>Chat

							<span class="icon-bubble2 text-primary od-Chat-bubble">
								<div class="od-Chat-exclamation">
									<span class="u-bgWhite od-Chat-exclamation-bg"></span>
									<i class="icon-exclamation-circle text-warning od-Chat-exclamation-icon"></i>
								</div>
							</span>

							</h1>
							<h4 class="u-fontThin">Deixe seu Octadesk mais poderoso.<span class="text-info u-font-W500"> Saiba Mais<i class="icon-next"> </i></span></h4>
						</div>

						<div class="div_triangle_left_grey"></div>
						<div class="od-div-fill"></div>
						<div class="div_triangle_left_white"></div>
					</a>
				</div>


				<div class="col-md-12 col-lg-5 col-xl-5">
						<a class="cursor-pointer pricing-anchors">

						<div class="od-TablePricing-right text-center u-bgWhite">
							<h6>Adicione o OctaChat ao seu plano </h6>
							<div class="od-ChoosePlan-item-detail-consulting u-font-W700 text-info">
									consulte-nos
              </div>

						</div>
						</a>
				</div>

			</div>

		</div>
	</article>

	<article class="od-Wrapper u-bgWhite">
		<div class="container u-alignCenter od-ComparePlans">
			<p class="u-alignCenter-item u-cta od-ComparePlans-text"><strong>Não consegue decidir qual o plano ideal para você?</strong></p>
			<div class="u-alignCenter-item u-cta od-SaleOff-actions">
				<a [routerLink]="['/comparativo/controle-de-chamados']" class="btn btn-outline-info" role="button">Compare nossos planos</a>
			</div>
			<a class="cursor-pointer">
				<div class="contact-support-container">
					<div class="rounded-circle contact-support-thumb ml-1">
						<img src="/assets/images/consultora-octadesk.jpg" alt="Consultora octadesk" title="Consultora octadesk">
					</div>
					<div class="Support-Contact ">
						<p class="text-purple u-m0"><strong>Tire suas dúvidas <i class="icon-next"></i></strong></p>
						<p class="u-m0 u-font-size-sm">Converse com um de nossos consultores</p>
					</div>
				</div>
			</a>

		</div>
	</article>

	<!-- perguntas frequentes -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-CommonQuestions">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1"><span class="u-fontThin">Perguntas Frequentes</span></h2>
				</div>
			</div>

		</div>
	</article>


	<div class="container">
		<hr>
	</div>

	<!-- customers -->
	<article class=" od-Wrapper u-bgWhite">
    <h2 class="h1 u-fontThin text-center">Clientes que confiam no Octadesk</h2>
    <p class="text-center">A flexibilidade do nosso sistema de atendimento ao cliente e Help Desk permite atender empresas de diferentes portes e segmentos de mercado.</p>

	</article>


	<!-- statement -->
	<article class="od-Wrapper u-bgWhite">

	</article>

</section>
